<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to my Pantry</h1>

  <% foods.forEach(food => {%>
      <p><%= food.name %></p>
      <a href="/food/<%= food._id %>/edit" id="display">Edit</a>
      <form action="/food/<%= food._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
  <% }); %>
  </body>
</html>
