<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipes</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add Recipe </h1>

    <form action="/food" method="POST" class="newForm">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <button type="submit">Add Recipe</button>
      </form>
  </body>
</html>
